In [ ]:
import csv
import json
import time
import urllib
import requests
import pandas as pd
import nltk
import spacy
import string
import numpy as np
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/movie_reviews.csv")

In [ ]:
df.head()

   Unnamed: 0  movie_id  ... helpful_out_of rating
0           0    457275  ...            131    8.0
1           1    457275  ...             21    7.0
2           2    457275  ...             61    8.0
3           3    457275  ...             62    8.0
4           4    457275  ...            105    9.0

[5 rows x 7 columns]

In [ ]:
# Converting empty values to NaN value
nan_value = float("NaN")

df.drop(['Unnamed: 0','movie_id', 'date', 'helpful', 'helpful_out_of'], axis = 1,  inplace = True)

df.replace("", nan_value, inplace = True)

df.head()

                                              review  rating
0  'Altered' follows the capture of an extraterre...     8.0
1  Although it would be a stretch to call it orig...     7.0
2  Going into Altered I was aware of a couple thi...     8.0
3  like sci-fi? like gore? if, like me the answer...     8.0
4  I watched it expecting it to be a cheap low bu...     9.0

In [ ]:
#  Drop Nan values
df.dropna(subset = ["rating"], inplace=True)
df.dropna(subset = ["review"], inplace=True)

In [ ]:
# Reset Indexes
df = df.reset_index(drop=True)

In [ ]:
df.tail()

                                                    review  rating
1683263  After the critical mutilation Chappie received...     5.0
1683264  "He's a happy chappie." So says the character ...     6.0
1683265  I know now a days movies are all about renewin...     6.0
1683266  My least favorite from Blomkamp so far. So Cha...     5.0
1683267  I felt emotionally involved during almost all ...     5.0

In [ ]:
# Convert the ratings to 0, 1, -1
for x in df.index:
    if df['rating'][x] > 7.0:
        df.loc[x,'rating'] = 1
    elif df['rating'][x] < 6.0:
        df.loc[x,'rating'] = -1
    else:
        df.loc[x,'rating'] = 0

In [ ]:
# Lower the srings of review column
df["review"] = df["review"].str.lower()
df.tail()

                                                    review  rating
1683263  after the critical mutilation chappie received...    -1.0
1683264  "he's a happy chappie." so says the character ...     0.0
1683265  i know now a days movies are all about renewin...     0.0
1683266  my least favorite from blomkamp so far. so cha...    -1.0
1683267  i felt emotionally involved during almost all ...    -1.0

In [ ]:
# Remove puntuations and symbols
PUNCT_TO_REMOVE = string.punctuation

def remove_punctuation(text):
    return text.translate(str.maketrans('', '', PUNCT_TO_REMOVE))

df["review"] = df["review"].apply(lambda text: remove_punctuation(text))

In [ ]:
# Remove stop words
from nltk.corpus import stopwords
nltk.download('stopwords')

STOPWORDS = set(stopwords.words('english'))

def remove_stopwords(text):
    return " ".join([word for word in str(text).split() if word not in STOPWORDS])

df["review"] = df["review"].apply(lambda text: remove_stopwords(text))

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [ ]:
df.to_csv("/content/drive/MyDrive/movie_reviews_preprocessed.csv")